/*html{
  background: rgba(0,0,0,70%);
}*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menuContainer{
  overflow: hidden;
  float: right;
  & label{
    //color: black;
  }
  & input, & button{
    //background-color: darkgray;
  }
  & .MuiFormControl-root{
    margin-bottom: 15px;
  }
}
